# IDEs
.idea/
.vscode/

# Environments
venv/
env/
.conda/
.venv/

# Jupyter
.ipynb_checkpoints/

# Data
data/
archive.zip

# Models
models/
*.pkl

# Python
__pycache__/
*.py[cod]

# Ultralytics / YOLO
runs/
yolov8n.pt
*.pt

# Secrets
.env
